body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007B8A;
  color: white;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

.quiz {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#result {
  font-weight: bold;
  margin-top: 10px;
}

.joke-container {
  text-align: center;
  background-color: #e7f3f3;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.joke-container button {
  margin-top: 10px;
}